*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px 0 20px;
    box-shadow: 0 2px 5px black;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: black;
}

/* working here lol*/
.outlets{
    background: orange;
    position: relative;
    z-index: -1;
}

.outs{
    padding: 60px 0 0 40px;
}

.outlets .out-p{
    padding: 10px 0 0 40px;
}

.outlet-link{
    background: blue;
    border: 1px solid blue;
    width: 160px;
    height: 40px;
    padding: 10px 0 0 30px;
    margin: auto;
    margin-top: 25px;
}

.outlet-link a{
    text-decoration: none;
    color: white;
}

.services{
    margin:60px 0 0 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.service-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
}

.residential, .commercial{ 
    background: whitesmoke;
}

.res, .com{
    padding: 40px 0 0 10px;
}

.residential hr, .commercial hr{
    border: 1px solid black;
    margin-left: 10px;
    width: 280px;
}

.residential h2, .commercial h2{
    padding: 20px 0 0 10px;
}

.res-info, .com-info{
    padding: 20px 0 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.res-text, .com-text{
    padding: 15px 0 0 0;
    max-width: 300px;
}

.res-p, .com-p{
    padding: 5px 0 0 0;
}

.residential h2 span, .commercial h2 span{
    font-weight: 400;
}

.request h4{
    padding: 75px 0 0 30px;
}

.request hr{
    border: 1px solid black;
    width: 320px;
    margin: 10px 0 0 30px;
}

.request h2{
    padding: 20px 0 0 35px;
    font-size: 32px;
    font-weight: 400;
}

.num{
    padding: 5px 0 0 35px;
    font-size: 27px;
    font-weight: 700;
}

.request p{
    line-height: 1.3;
    max-width: 400px;
    padding:15px 0 25px 35px;
}

.work{
    background: pink;
    min-height: 580px;
}

.work h4{
    padding: 60px 0 0 40px;
    color: blue;
}

.work hr{
    border: 1px solid blue;
    margin: 5px 0 0 40px;
    width: 280px;
}

.work h2{
    padding: 12px 0 0 40px;
    font-weight: 400;
}

.work h2 span{
    font-weight: 700;
}

.project-info{
    margin: 30px 0 0 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.project-info1{
    display: flex;
}

.project-image{
    border: 1px solid black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
}

.project-text{
    margin-left: 15px;
}

.project-text h5{
    font-size: 15px;
}

.project-text ul{
    margin-top: 10px;
    margin-left: 25px;
}

.project-text li{
    font-size: 15px;
    padding-top: 5px;
}

.project-link{
    border: 1px solid blue;
    background: blue;
    width: 280px;
    height: 35px;
    margin-top: 30px;
    padding: 8px 0 0 30px;
    position: absolute;
    right: 0;
}

.project-link a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.testimonials{
    background: grey;
}

.testimonials h3{
    padding-top: 45px;
    margin-left: 25px;
}

.testimonials hr{
    margin-top: 5px;
    margin-left: 25px;
    border: 1px solid black;
    width: 280px;
}

#test{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 15px 0 15px 30px;
}

.test1{
    border: 1px solid red;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.test2{
    margin: 30px 0 0 10px;
}

.test1 h5{
    padding: 40px 0 0 10px;
}

.test1 h4{
    padding: 20px 0 0 10px;
}

.faq{
    background: yellow;
}

.faqs{
    font-size: 15px;
    padding: 70px 0 0 30px;
}

.faq hr{
    border: 1px solid black;
    width: 320px;
    margin: 10px 0 0 30px;
}

.frequent{
    margin: 15px 0 0 30px;
    font-size: 35px;
    font-weight: 400;
}

.frequent span{
    font-weight: 700;
}

.faq-d{
    padding: 80px 0 0 70px;
    max-width: 450px;
}

.faq-d .faq-p{
    padding: 10px 0 0 0;
    line-height: 1.3;
    font-size: 14px;
}

.faq-ds{
    padding: 30px 0 15px 70px;
    max-width: 450px;
}

.faq-ds .faq-p{
    padding: 10px 0 0 0;
    line-height: 1.3;
    font-size: 14px;
}

footer{
    background: peru;
    height: 580px;
}

footer{
    background: peru;
    height: 580px;
}

.footer{
    padding-top: 45px;
    margin-left: 30px;
}

.name{
    background: white;
    border: 1px solid black;
    width: 300px;
    height: 40px;
}

#f-name{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0 0 5px;
    width: 290px;
}

#f-name::placeholder{
    font-size: 12px;
    color: black;
}

.mail{
    background: white;
    border: 1px solid black;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}

#e-mail{
    width: 290px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0 0 5px;
}

#e-mail::placeholder{
    color: black;
    font-size: 12px;
}

textarea{
    background: white;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    padding: 5px 0 0 5px;
    outline: none;
}

#message::placeholder{
    font-size: 12px;
    color: black;
}

.submit{
    border: 1px solid orange;
    background: orange;
    text-align: center;
    width: 90px;
    height: 35px;
    margin-top: 15px;
    margin-left: 170px;
}

.submit-1{
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    padding-top: 12px;
}

.fa-location-dot{
    position: absolute;
    left: 25px;
}

.fa-phone{
    position: absolute;
    left: 25px;
}

.fa-envelope{
    position: absolute;
    left: 25px;
}


.address{
    margin: 15px 0 0 50px;
}

.address p{
    padding: 10px 0 10px 0;
}

.phone{
    margin: 15px 0 0 50px;
}

.phone p{
    padding: 10px 0 0 0;
}

.o-mail{
    margin: 15px 0 45px 50px;
}

.o-mail p{
    padding: 10px 0 0 0;
}