*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.h3{
    margin-top: 10px;
    margin-left: 15px;
}

.p{
    margin-top: 10px;
    margin-right: 30px;
}

.info{
    background: pink;
    height: 250px;
    position: relative;
}

.text{
    padding: 50px 0 0 20px;
}

.text1{
    color: white;
    font-weight: 400;
}

.text2{
    font-size: 21px;
    line-height: 2;
    color: white;
    font-weight: 700;
}

.botton{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.abouut{
    margin-left: 20px;
}

/* .about1{
    border: 1px solid red;
    background: red;
    width: 120px;
    height: 45px;
    bottom: 80px;
    left: 20px;
    position: absolute;
    z-index: 0;
} */

.about{
    background: blue;
    text-align: center;
    width: 120px;
    height: 45px;
    padding-top: 15px;
}

.about a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.contact{
    background: white;
    text-align: center;
    width: 120px;
    height: 45px;
    padding-top: 15px;
}

.contact a{
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

.additional-info{
    background: purple;
    height: 720px;
}

.elect1{
    padding-top: 85px;
}

.elect{
    color: yellow;
    margin-left: 40px;
}

.elect1 hr{
    margin-top: 5px;
    width: 400px;
    margin-left: 40px;
}

.providing{
    color: white;
    margin-top: 15px;
    margin-left: 40px;
    font-weight: 400;
}

.providing span{
    font-weight: 700;
}

.elect1 p{
    margin-top: 50px;
    margin-left: 40px;
    color: white;
    font-size: 12px;
}

.part{
    margin-top: 10px;
    margin-left: 40px;
    font-size: 12px;
    color: white;
}

.add1{
    margin-left: 140px;
    padding-top: 25px;
}

.addd{
    padding-top: 25px;
}

.add1 p{
    margin-top: 8px;
    font-size: 12px;
    color: white;
}

.botton2{
    text-align: center;
    background: blue;
    width: 160px;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    right: 0;
}

.botton2 a{
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    top: 15px;
    left: 30px;
}

.about12{
    background: rgb(255, 208, 1);
    height: 900px;
}

.about12 h2{
    padding: 60px 0 0 20px;
    font-weight: 400;
}

.about12 h2 span{
    font-weight: 700;
    line-height: 2;
}

.about12 p{
    margin-top: 20px;
    padding-left: 20px;
    line-height: 1.5;
}

.more{
    background: black;
    text-align: center;
    margin-top: 485px;
    width: 150px;
    height: 40px;
    position: absolute;
    right: 0;
}

.more a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 15px;
    left: 30px;
}

.work{
    background: pink;
}

.work h4{
    padding: 60px 0 0 40px;
    color: blue;
}

.work hr{
    border: 1px solid blue;
    margin: 5px 0 0 40px;
    width: 400px;
}

.work h2{
    margin: 12px 0 0 40px;
    font-weight: 400;
}

.work h2 span{
    font-weight: 700;
}

.project-info{
    margin: 30px 0 0 45px;
}

.project-info1{
    display: flex;
}

.info11{
    margin-top: 70px;
}

.project-image{
    border: 1px solid black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
}

.project-text{
    margin-left: 15px;
}

.project-text h5{
    font-size: 15px;
}

.project-text ul{
    margin-top: 10px;
    margin-left: 25px;
}

.project-text li{
    font-size: 15px;
    padding-top: 5px;
}

.project-link{
    border: 1px solid blue;
    background: blue;
    width: 300px;
    height: 35px;
    margin: 40px 0 0 180px;
}

.project-link a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.testimonials{
    height: 630px;
    background: grey;
}

.testimonials h3{
    padding-top: 45px;
    margin-left: 25px;
}

hr{
    margin-top: 5px;
    margin-left: 25px;
    border: 1px solid black;
    width: 250px;
}

.test1{
    border: 1px solid red;
    width: 300px;
    margin: 60px 0 0 10px;
    height: 200px;
}

.test2{
    margin: 30px 0 0 10px;
}

.test1 h5{
    padding: 40px 0 0 10px;
}

.test1 h4{
    padding: 20px 0 0 10px;
}

footer{
    background: peru;
    height: 520px;
}

.footer{
    padding-top: 45px;
    margin-left: 30px;
}

.name{
    background: white;
    border: 1px solid black;
    width: 260px;
    height: 40px;
}

#f-name{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0 0 5px;
    width: 250px;
}

#f-name::placeholder{
    color: black;
}

.mail{
    background: white;
    border: 1px solid black;
    width: 260px;
    height: 40px;
    margin-top: 10px;
}

#e-mail{
    width: 240px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0 0 5px;
}

#e-mail::placeholder{
    color: black;
}

.message{
    background: white;
    border: 1px solid black;
    width: 260px;
    height: 110px;
    margin-top: 10px;
}

#message{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0 0 5px;
}

#message::placeholder{
    font-size: 15px;
    color: black;
}

.submit{
    border: 1px solid orange;
    background: orange;
    text-align: center;
    width: 90px;
    height: 35px;
    margin-top: 15px;
    margin-left: 170px;
}

.submit-1{
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    padding-top: 12px;
}

.fa-location-dot{
    position: absolute;
    left: 25px;
}

.fa-phone{
    position: absolute;
    left: 25px;
}

.fa-envelope{
    position: absolute;
    left: 25px;
}


.address{
    margin: 15px 0 0 50px;
}

.address p{
    margin: 10px 0 0 0;
}

.phone{
    margin: 15px 0 0 50px;
}

.phone p{
    margin: 10px 0 0 0;
}

.o-mail{
    margin: 15px 0 45px 50px;
}

.o-mail p{
    margin: 10px 0 0 0;
}